<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page of  our website</title>
</head>


<body>


    <div class="container" style="text-align: center;">
         
        {% include 'navbar.html' %}

        <h1>this is our official website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error molestias ad officia, maiores
            possimus id aperiam accusamus ipsam dolorum sequi quaerat? Ratione veritatis error recusandae debitis
            deleniti, laborum, quis temporibus dolore, rerum expedita repellendus numquam similique vitae ipsam
            accusamus obcaecati atque minima? Corporis molestiae earum praesentium repellat voluptatum dignissimos?</p>

            <button>Contact us </button>
    </div>


</body>

</html>